<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аптека</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <div class="content-wrapper">

        <div class="header__wrapper">
            <div class="container">
                <header class="header">
                    <a href="/" class="header__logo">
                        <img src="{{ url_for('static',filename='images/logo.png') }}" alt="логотип" class="header__logo-img logo-img">
                    </a>
                    <h1 class="header__title">
                        аптека вашого міста
                    </h1>
                    <div class="header__connection">
                        <a href="/login" class="header__connection-signin header__connection-link">Вхід</a>
                        <a href="/registration" class="header__connection-register header__connection-link">Регістрація</a>
                         <a href="/logout" class="header__connection-signin header__connection-link">Вихід</a>
                    </div>
                </header>
            </div>
        </div>

    <main class="main">
      <aside class="aside">
                <nav class="aside__nav">
                    <ul class="aside__list">
                        <li class="aside__item">
                            <a href="/" class="aside__link">Головна</a>
                        </li>
                        <li class="aside__item">
                            <a href="/med" class="aside__link">Ліки</a>
                        </li>
                        <li class="aside__item">
                            <a href="/news" class="aside__link">Новини</a>
                        </li>
                        <li class="aside__item">
                            <a href="/repair" class="aside__link">Про нас</a>
                        </li>
                        <li class="aside__item">
                            <a href="/repair" class="aside__link">Карта аптек</a>
                        </li>
                        <li class="aside__item">
                            <a href="/cabinet" class="aside__link">Особистий кабінет</a>
                        </li>
                    </ul>
                </nav>
            </aside>
      <section class="main__section section acc__wrapper">
        <div class="acc">
          <h2 class="acc__title">
            Особистий кабінет
          </h2>
          <ul class="acc__list">
            <li>
              <p class="acc__label">Ід: {{user.id_of_user}}</p>
            </li>
            <li>
              <p class="acc__label">Логін: {{user.login}}</p>
            </li>
            <li>
              <p class="acc__label">Ім'я: {{user.full_name}}</p>
            </li>
            <li>
              <p class="acc__label">Номер телефону: {{user.telephone_number}}</p>
            </li>
          </ul>
            <div class="acc__block">
            <h3 class="acc__title-table">
            Замовлення
          </h3>

          <table class="acc__table table">
            <tr>
              <td class="table__title">Номер замовлення</td>
              <td class="table__title">Дата</td>
              <td class="table__title">Назва товару</td>
              <td class="table__title">Кількість</td>
              <td class="table__title">Ціна</td>
            </tr>
            {% for order in orders_buy %}
              <tr>
                <td>{{order[0].id_of_prod_sales}}</td>
                <td>{{order[1].date}}</td>
                <td>{{order[2].med_name}}</td>
                <td>{{order[0].amount}}</td>
                <td>{{order[0].price}} грн</td>
              </tr>
              {% endfor %}
          </table>
            </div>
            <div class="acc__block">
            <h3 class="acc__title-table">
            Бронювання
          </h3>

          <table class="acc__table table">
            <tr>
              <td class="table__title">Номер замовлення</td>
              <td class="table__title">Дата</td>
              <td class="table__title">Назва товару</td>
              <td class="table__title">Кількість</td>
              <td class="table__title">Ціна</td>
              <td class="table__title">Статус</td>
            </tr>
            {% for order in orders_booking %}
              <tr>
                <td>{{order[0].id_of_prod_booking}}</td>
                <td>{{order[1].date}}</td>
                <td>{{order[2].med_name}}</td>
                <td>{{order[0].amount}}</td>
                <td>Аптека№ {{order[3].number_of_phar}}:{{order[3].adress_of_phar}}</td>
                <td>{{order[1].status}}</td>
              </tr>
              {% endfor %}
          </table>
            </div>
          </div>

      </section>
    </main>


    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__connection">
            <ul class="footer__list">
              <li class="footer__item">
                <a href="/" class="footer__link">Головна</a>
              </li>
              <li class="footer__item">
                <a href="/med" class="footer__link">Ліки</a>
              </li>
              <li class="footer__item">
                <a href="/news" class="footer__link">Новини</a>
              </li>
              <li class="footer__item">
                <a href="/repair" class="footer__link">Про нас</a>
              </li>
              <li class="footer__item">
                <a href="/repair" class="footer__link">Карта аптек</a>
              </li>
            </ul>
          </div>
          <p class="footer__copyright">© copyright, 2022</p>

        </div>
      </div>
    </footer>
</body>

</html>